

#wrapper {
  max-width: 1240px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1240px;
  background-color: rgb(29, 29, 29);
  margin: auto;
  height: 9999vh;
  
}

.content {
  color: white;
}

.oMniePhoto img {
  float: right;
  height: 400px;
  width: 400px;
  border-radius: 100%;
  margin-top: 100px;
}

.oMnieContent {
  float: left;
  text-align: center;
  font-size: x-large;
  margin-top: 100px;
  text-align: left;

}

.skills h2 {
  margin-top: 600px;
}

.prace h2 {
  margin-top: 1100px;
}

#navBarList {
  border-radius: 40px;
  height: 80px;
  width: 1240px;
  background-color:rgb(210, 125, 15);  
}

.navBarListElement {
  margin: auto;
  color: white;
  font-size: 25px;
  display: inline-block;
  padding: 25.5px;
   
}

.navBarListElement:hover {
  background-color: white;
  color: rgb(210, 125, 15);
}

span {
  color:rgb(210, 125, 15);

}

#goTop {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  display: none;
  border: 2px solid rgb(29, 29, 29);
  background-color:rgb(210, 125, 15);
  color: white;
  font-size: larger;
  position:fixed;
  bottom: 20px;
  right: 100px;
}

#goTop:hover {
  border: 2px solid rgb(210, 125, 15);
  color: rgb(210, 125, 15);
  background-color: white;

}



