:root {
  /* rgb(49, 147, 156) -> niebieski*/
  --orange: rgb(210, 125, 15);
  --gray: rgb(29, 29, 29);
  --footGray: rgb(24, 24, 24);
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--gray);
  margin: 0;
  
    
}
.content {
  margin: 0;
  padding: 0;
  width: 1240px;
  color: white;
}
#wrapper {
  margin: 0;
  max-width: 1240px;
  margin: auto;
}


.sticky {
  position: fixed;
  top: 0;
  max-width: 100%;
  margin-top: auto;
    
}

.navBarPlaceHolder {
  width: 100%;
  top: 0;
  height:200px ;
  margin: 0px;
}

.navBarList {
  margin:0px;
  padding-left: 10%;
  height: 80px;
  width: 100%;
  background-color:var(--orange);  
}

.navBarListElement {
  margin-left: 60px;
  color: white;
  font-size: 25px;
  display: inline-block;
  padding: 25.5px;
   
}

.navBarListElement:hover {
  cursor: pointer;
  background-color: white;
  color: var(--orange);
}

span {
  color:var(--orange);

}


.oMnie {
  height: 600px;
}

.oMniePhoto img {
  float: right;
  height: 400px;
  width: 400px;
  border-radius: 100%;
}

.oMnieContent {
  width: 800px;
  height: 400px;
  font-size: x-large;
  text-align: left;

}

.skill {
  height: 600px ;
}

.skillsContent {
  width: 800px;
  height: 400px;
  font-size: x-large;
  float: right; 
  text-align: left;

 
}

.skillsPhoto img {
  float: left;
  height: 400px;
  width: 400px;
  border-radius: 100%;
  
}

.prace {
  font-size: x-large;
  height: 600px;
  margin-top: 0;
  margin-bottom: 200px;
  padding: 0;
}

.praceDivs > div {
  border: 2px dashed white;
  display: inline-block;
  height: 450px;
  width: 350px;
  margin-left: 25px;
  margin-right: 25px;
  background-color:var(--footGray);
  
  
}


div > a {
  text-decoration: none;
  color: white;
  float: left;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%,50%);
    
}

footer {
  display: inline-block;
  height: 125px;
  width: 100%;
  background-color:rgb(24, 24, 24);
  margin-bottom: 8px;
}
.kontakt {
  float: left;
  height: 120px;
  width: 400px;
  margin-left: 300px;
  padding: 0;
  font-size: large;
  color: white;
}

.kontakt p {
  margin: 5px;
}
.kontakt h4 {
  margin: 10px;
}

.kontakt2 {
  float: left;
  height: 120px;
  width: 600px;
  padding: 0;
  font-size: large;
  color: white;
}

.kontakt2 p {
  margin: 5px;
}
.kontakt2 h4 {
  margin: 10px;
}

hr {
  margin: 0;
  border: solid 1px var(--orange);
}



#goTop {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  display: none;
  border: 2px solid var(--gray);
  background-color:var(--orange);
  color: white;
  font-size: larger;
  position:fixed;
  bottom: 20px;
  right: 100px;
}

#goTop:hover {
  border: 2px solid var(--orange);
  color: var(--orange);
  background-color: white;

}






/* .praceLewa {
  border: 2px dashed white;
  display: inline-block;
  padding: 23px;
  height: 450px;
  width: 350px;
  margin: 0;
  
}
.praceSrodek {
  border: 2px dashed white;
  display: inline-block;
  padding: 23px;
  height: 450px;
  width: 350px;
  margin: 0;
}
.pracePrawa {
  border: 2px dashed white;
  display: inline-block;
  padding: 23px;
  height: 450px;
  width: 350px;
  margin: 0;

} */