#wrapper {
  margin: auto;
  width: auto;
  max-width: 1240px;
  overflow: auto;
}

body {
  width: 97%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(29, 29, 29);
  margin-top: none;
  margin-left: none;
  padding: none;
  height: 5vh;
  
}

#head {
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
    
}

.sticky {
  position: fixed;
  margin-top: 0;
  top: 0;
  width: 97%;
  margin:auto;
  
}


.navBarList {
  height: 80px;
  width: 100%;
  background-color:rgb(210, 125, 15);  
}

.navBarListElement {
  margin: auto;
  color: white;
  font-size: 25px;
  display: inline-block;
  padding: 25px;
   
}

.navBarListElement:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(210, 125, 15);
}

span {
  color:rgb(210, 125, 15);

}

.content {
  color: white;
}

.oMniePhoto img {
  float: right;
  height: 400px;
  width: 400px;
  border-radius: 100%;
  top: 100px;
}

.oMnieContent {
  width: 800px;
  height: 400px;
  font-size: x-large;
  top: 100px;
  text-align: left;

}

.skillsContent {
  width: 800px;
  height: 400px;
  font-size: x-large;
  float: right; 
  top: 650px;
  text-align: left;

 
}

.skillsPhoto img {
  float: left;
  height: 400px;
  width: 400px;
  border-radius: 100%;
  top: 100px;
}

.prace h2 {
  margin-top: 1100px;
}



#goTop {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  display: none;
  border: 2px solid rgb(29, 29, 29);
  background-color:rgb(210, 125, 15);
  color: white;
  font-size: larger;
  position:fixed;
  bottom: 20px;
  right: 100px;
}

#goTop:hover {
  border: 2px solid rgb(210, 125, 15);
  color: rgb(210, 125, 15);
  background-color: white;

}



